<Context path="/Assignment" docBase="Assignment" reloadable="true">
    <Resource name="jdbc/LeaveManagementDB"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
              url="jdbc:sqlserver://localhost:1433;databaseName=LeaveManagement"
              username="dat"
              password="12345"
              maxActive="100"
              maxIdle="30"
              maxWait="10000" />
</Context>